// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// colors
$base: #00bcd4;
$primarylight: #e0f7fa;
$primary: #00bcd4;
$primarydark: #006064;
$secondarylight: #fce4ec;
$secondary: #f06292;
$secondarydark: #ad1457;

// reset styles
a {
  text-decoration: none !important;
  color: inherit !important;
}

// mixins
@mixin mw($width, $type: max) {
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

// slider styles
.lb-modal-close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 30px;
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 30px;
    background-color: white;
    width: 2px;
    transform: rotate(45deg);
    border-radius: 2px;
  }
  &::before {
    content: ' ';
    top: 0;
    position: absolute;
    height: 30px;
    background-color: white;
    width: 2px;
    transform: rotate(-45deg);
    border-radius: 2px;
  }
}
.lb-modal-prev {
  width: 30px;
  height: 60px;
  &::after {
    content: ' ';
    position: absolute;
    top: 5px;
    height: 30px;
    background-color: white;
    width: 2px;
    transform: rotate(45deg);
    border-radius: 2px;
  }
  &::before {
    content: ' ';
    top: 25px;
    position: absolute;
    height: 30px;
    background-color: white;
    width: 2px;
    transform: rotate(-45deg);
    border-radius: 2px;
  }
}
.lb-modal-next {
  width: 30px;
  height: 60px;
  &::after {
    content: ' ';
    position: absolute;
    top: 5px;
    height: 30px;
    background-color: white;
    width: 2px;
    transform: rotate(-45deg);
    border-radius: 2px;
  }
  &::before {
    content: ' ';
    top: 25px;
    position: absolute;
    height: 30px;
    background-color: white;
    width: 2px;
    transform: rotate(45deg);
    border-radius: 2px;
  }
}
