// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// colors
$base: #00bcd4;
$primarylight: #e0f7fa;
$primary: #00bcd4;
$primarydark: #006064;
$secondarylight: #fce4ec;
$secondary: #f06292;
$secondarydark: #ad1457;



// mixins
@mixin mw($width, $type: max) {
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

